In [2]:
user = {'Name' : "seeta",
'age'  : 23,
'email' : 'seeta@example.com'}

In [3]:
user

{'Name': 'seeta', 'age': 23, 'email': 'seeta@example.com'}

In [ ]:
**kwargs

In [4]:
def function(**kwargs):
    print(kwargs)
    print(type(kwargs))

In [5]:
function(nane = 'Geeta' , Age = 24)

{'nane': 'Geeta', 'Age': 24}
<class 'dict'>

In [6]:
function(name = 'Raman Tripathi' , age  = 25 , email = 'raman@example.com')

{'name': 'Raman Tripathi', 'age': 25, 'email': 'raman@example.com'}
<class 'dict'>

In [7]:
def function(**kwargs):
    print(kwargs)
    print(type(kwargs))
    for key , value  in kwargs.items():
        print(f'key:{key}, value : {value}')

In [8]:
function(name = 'Raman Tripathi' , age  = 25 , email = 'raman@example.com')

{'name': 'Raman Tripathi', 'age': 25, 'email': 'raman@example.com'}
<class 'dict'>
key:name, value : Raman Tripathi
key:age, value : 25
key:email, value : raman@example.com

In [9]:
def function(**kwargs):
    print(kwargs)
    print(type(kwargs))
    for key , value  in kwargs.items():
        print(f'{key}: {value}')

In [10]:
function(name = 'Prajakta' , Degree = 'Msc. Maths '  , qualification = 'SET')

{'name': 'Prajakta', 'Degree': 'Msc. Maths ', 'qualification': 'SET'}
<class 'dict'>
name: Prajakta
Degree: Msc. Maths
qualification: SET

In [11]:
def update_user(**kwargs):
    user = {'Name' : None , 
            'Age' : None ,
             'email' : None} 
    user.update(kwargs)
    return user

In [14]:
update_user(name = 'Netra' ,Age = 27 , Position = 'Data Analyst')

{'Name': None,
 'Age': 27,
 'email': None,
 'name': 'Netra',
 'Position': 'Data Analyst'}

In [15]:
update_user(Name = "Neeta Kumari")

{'Name': 'Neeta Kumari', 'Age': None, 'email': None}

In [16]:
def update_user(**kwargs):
    user = {'Name' : None , 
            'Age' : None ,
             'email' : 'eample@gmail.com'} 
    user.update(kwargs)
    return user

In [20]:
update_user(Name = 'Geeta' ,Age = 27 , Position = 'Data Analyst' , email = 'geeta@gmail.com')

{'Name': 'Geeta',
 'Age': 27,
 'email': 'geeta@gmail.com',
 'Position': 'Data Analyst'}

In [21]:
def update_user(**kwargs):
    user = {'Name' : None , 
            'Age' : 34 ,
             'email' : None} 
    user.update(kwargs)
    return user

In [22]:
update_user(location = 'Pune')

{'Name': None, 'Age': 34, 'email': None, 'location': 'Pune'}

In [23]:
#  Function For craeting Bill in hotel

In [24]:
menu = {'Pizza' : 250 , 'Burgur' : 150  , 'Sandwich' : 100 , 'Cofee' : 40} 
menu

{'Pizza': 250, 'Burgur': 150, 'Sandwich': 100, 'Cofee': 40}

In [26]:
menu.get('Pizza')
menu.get('Burgur')

150

In [28]:
a = menu.get('Samosa')
print(a)

None

In [33]:
def hotel_bill(**kwargs):
    total_bill = 0 
    for food , quantity in kwargs.items():
        price = menu.get(food)
        if price is not None:
            subtotal= price*quantity
            print(f'bill for {food}')
            total_bill = total_bill + subtotal
        else:
            print(f'sorry {food} isnot available')
    return total_bill

In [34]:
hotel_bill(Pizza = 2)

bill for Pizza

500

In [35]:
hotel_bill(Pizza = 2 , Burgur = 3  , Samosa = 1)

bill for Pizza
bill for Burgur
sorry Samosa isnot available

950

In [36]:
def hotel_bill(**kwargs):
    total_bill = 0 
    for food , quantity in kwargs.items():
        price = menu.get(food)
        if price is not None:
            subtotal= price*quantity
            print(f'bill for {food}')
            total_bill = total_bill + subtotal
    
    return total_bill

In [37]:
hotel_bill(Pizza = 2 , Burgur = 3  , Samosa = 1)

bill for Pizza
bill for Burgur

950

In [38]:
def func(a ,b):
    c = a+ b
    return c

## Decorators

In [43]:
def welcome(func):
    def wrapper(*args  , ** kwargs):
        result = func(*args , **kwargs)
        print('Welcome User')
        print('this is output of original function' , result)
        print('Thank you')
        return result 
    return wrapper

In [44]:
@welcome
def simple_interest(P , N , R):
    "p: principle Amount"
    "N: Number of years"
    "R : interest rate"
    I= P*N*R/100
    return I

In [46]:
simple_interest(450000 , 2 , 8)

Welcome User
this is output of original function 72000.0
Thank you

72000.0

In [56]:
@welcome
def fun(*args):
    total = 0
    for i in args:
        total = total+i
    return total

In [57]:
fun(3,5,4,5,7)

Welcome User
this is output of original function 24
Thank you

24

In [58]:
@welcome
def hotel_bill(**kwargs):
    total_bill = 0 
    for food , quantity in kwargs.items():
        price = menu.get(food)
        if price is not None:
            subtotal= price*quantity
            print(f'bill for {food}')
            total_bill = total_bill + subtotal
    
    return total_bill

In [59]:
hotel_bill(Pizza = 3 ,Burgur = 2)

bill for Pizza
bill for Burgur
Welcome User
this is output of original function 1050
Thank you

1050

In [72]:
user = {'Seeta1' : 'Seeta!123' ,
        'Sarthak1' : 'Sarthak@123' ,
        'Neesha5' : 'neesha@123' }

In [62]:
user.get('Seeta1')

'Seeta!123'

In [89]:
def authincate(func):
    def wrapper(username , password ,*args  , ** kwargs):

        if (username in user.keys()) and (password == user.get(username)):
            print('Login Succesful')
            print(f'Welcome {username}')
            result = func(username , password ,*args  , ** kwargs)
            return result
        else:
            print('Failed to login .Please Check username and password')
    return wrapper

In [90]:
@authincate
def compound_interest(username , password , P , N , R):
    A = P*(1+(R/100))**N
    I = A - P
    return A , I

In [91]:
compound_interest('Seeta1' , 'Seeta@123' , 450000 , 2 , 8 )

Failed to login .Please Check username and password

In [81]:
@authincate
def add(username  , password  , a ,b ):
    c  = a+b
    return c

In [82]:
add('a' , 'b' , 3, 4)

TypeError: 'NoneType' object is not callable

In [83]:
user = {
    "Sarthak1": "sarthak@123",
    "admin": "admin123"
}

# Decorator for authentication
def Authenticate(func):
    def wrapper(username, password, *args, **kwargs):
        if (username in user.keys()) and (password == user.get(username)):
            print(f'Login successful. Welcome {username}')
            print('Thank you for using this function.')
            result = func(username, password, *args, **kwargs)
            return result
        else:
            print('Login failed. Please check username or password.')
    return wrapper

# Function to calculate compound interest
@Authenticate
def compound_interest(username, password, P, N, R):
    A = P * (1 + R / 100) ** N  # compound interest formula
    I = A - P
    return A, I

compound_interest('Sarthak1', 'sarthak@123', 45000, 2, 6.5)

Login successful. Welcome Sarthak1
Thank you for using this function.

(51040.12499999999, 6040.124999999993)