In [2]:
user = {'Name' : "seeta",
'age'  : 23,
'email' : 'seeta@example.com'}

In [3]:
user

{'Name': 'seeta', 'age': 23, 'email': 'seeta@example.com'}

In [ ]:
**kwargs

In [4]:
def function(**kwargs):
    print(kwargs)
    print(type(kwargs))

In [5]:
function(nane = 'Geeta' , Age = 24)

{'nane': 'Geeta', 'Age': 24}
<class 'dict'>

In [6]:
function(name = 'Raman Tripathi' , age  = 25 , email = 'raman@example.com')

{'name': 'Raman Tripathi', 'age': 25, 'email': 'raman@example.com'}
<class 'dict'>

In [7]:
def function(**kwargs):
    print(kwargs)
    print(type(kwargs))
    for key , value  in kwargs.items():
        print(f'key:{key}, value : {value}')

In [8]:
function(name = 'Raman Tripathi' , age  = 25 , email = 'raman@example.com')

{'name': 'Raman Tripathi', 'age': 25, 'email': 'raman@example.com'}
<class 'dict'>
key:name, value : Raman Tripathi
key:age, value : 25
key:email, value : raman@example.com

In [9]:
def function(**kwargs):
    print(kwargs)
    print(type(kwargs))
    for key , value  in kwargs.items():
        print(f'{key}: {value}')

In [10]:
function(name = 'Prajakta' , Degree = 'Msc. Maths '  , qualification = 'SET')

{'name': 'Prajakta', 'Degree': 'Msc. Maths ', 'qualification': 'SET'}
<class 'dict'>
name: Prajakta
Degree: Msc. Maths
qualification: SET

In [11]:
def update_user(**kwargs):
    user = {'Name' : None , 
            'Age' : None ,
             'email' : None} 
    user.update(kwargs)
    return user

In [14]:
update_user(name = 'Netra' ,Age = 27 , Position = 'Data Analyst')

{'Name': None,
 'Age': 27,
 'email': None,
 'name': 'Netra',
 'Position': 'Data Analyst'}

In [15]:
update_user(Name = "Neeta Kumari")

{'Name': 'Neeta Kumari', 'Age': None, 'email': None}

In [16]:
def update_user(**kwargs):
    user = {'Name' : None , 
            'Age' : None ,
             'email' : 'eample@gmail.com'} 
    user.update(kwargs)
    return user

In [20]:
update_user(Name = 'Geeta' ,Age = 27 , Position = 'Data Analyst' , email = 'geeta@gmail.com')

{'Name': 'Geeta',
 'Age': 27,
 'email': 'geeta@gmail.com',
 'Position': 'Data Analyst'}

In [21]:
def update_user(**kwargs):
    user = {'Name' : None , 
            'Age' : 34 ,
             'email' : None} 
    user.update(kwargs)
    return user

In [22]:
update_user(location = 'Pune')

{'Name': None, 'Age': 34, 'email': None, 'location': 'Pune'}

In [23]:
#  Function For craeting Bill in hotel

In [24]:
menu = {'Pizza' : 250 , 'Burgur' : 150  , 'Sandwich' : 100 , 'Cofee' : 40} 
menu

{'Pizza': 250, 'Burgur': 150, 'Sandwich': 100, 'Cofee': 40}

In [26]:
menu.get('Pizza')
menu.get('Burgur')

150

In [28]:
a = menu.get('Samosa')
print(a)

None

In [33]:
def hotel_bill(**kwargs):
    total_bill = 0 
    for food , quantity in kwargs.items():
        price = menu.get(food)
        if price is not None:
            subtotal= price*quantity
            print(f'bill for {food}')
            total_bill = total_bill + subtotal
        else:
            print(f'sorry {food} isnot available')
    return total_bill

In [34]:
hotel_bill(Pizza = 2)

bill for Pizza

500

In [35]:
hotel_bill(Pizza = 2 , Burgur = 3  , Samosa = 1)

bill for Pizza
bill for Burgur
sorry Samosa isnot available

950

In [36]:
def hotel_bill(**kwargs):
    total_bill = 0 
    for food , quantity in kwargs.items():
        price = menu.get(food)
        if price is not None:
            subtotal= price*quantity
            print(f'bill for {food}')
            total_bill = total_bill + subtotal
    
    return total_bill

In [37]:
hotel_bill(Pizza = 2 , Burgur = 3  , Samosa = 1)

bill for Pizza
bill for Burgur

950

In [38]:
def func(a ,b):
    c = a+ b
    return c