### Exceptional Handling

In [1]:
23/34

0.6764705882352942

In [2]:
23/0

ZeroDivisionError: division by zero

In [3]:
/23

<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
C:\Users\C S\AppData\Local\Temp\ipykernel_14436\3824389642.py:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  23()

TypeError: 'int' object is not callable

In [4]:
'str'/34

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [5]:
s1  = '123'
int(s1)

123

In [6]:
s2 = 'abc'
int(s2)

ValueError: invalid literal for int() with base 10: 'abc'

### Define Function for Division of two numbers

In [ ]:
def Division():
    num = float(input())
    den = float(input())
    div  = num/ den
    print(f'division is between {num} and {den} --> {num}/{den}')
    return div

In [14]:
Division()

division is between 30.0 and 5.0 --> 30.0/5.0

6.0

In [16]:
Division()
print('Hello')

ZeroDivisionError: float division by zero

In [17]:
Division()

ValueError: could not convert string to float: ''

In [18]:
Division()

ValueError: could not convert string to float: "'12'"

### Use Try and Except

In [22]:
def Division2():
    try:
        num = float(input())
        den = float(input())
        div  = num/ den
        print(f'division is between {num} and {den} --> {num}/{den}')
        return div
    except Exception as e:
        print('Exception occured' ,e)

In [25]:
Division2()

division is between 12.0 and 4.0 --> 12.0/4.0

3.0

In [29]:
Division2()
print('Hello')
print(12+23)
print('Data')

Exception occured could not convert string to float: "'12'"
Hello
35
Data

### Detailed Exceptional Handling

In [ ]:
def Division3():
    try:
        num = float(input())
        den = float(input())
        div = num/den
        print(f'This is division between {num}  and {den} --> {num}/ {den}')
        return div
    except ValueError:
        print('values should not be blank or string')
        print('Values should be int or float')
    except ZeroDivisionError :
        print('Denominator Should not be 0')
    except Exception as e:
        print(f'Exception occured : {e}')

In [22]:
a  = Division3()
print(a)
round(a ,3)

This is division between 120.0  and 3.0 --> 120.0/ 3.0
40.0

40.0

In [26]:
Division3()

This is division between 120.0  and 4.0 --> 120.0/ 4.0

30.0

In [20]:
c = Division3()
print('hello')
print(34+56)

values should not be blank or string
Values should be int or float
hello
90

#### raise own ValueError

In [31]:
age  =  int(input('Please enter valid Age here'))
print(age)

-11

In [8]:
def valid_age():
    try :
        age = int(input('Please enter valid age here'))
        if age < 0 or age > 110:
            raise ValueError('Age should be between 0 to 110')
        else :
            print('Age of User is -->' , age )
            return age
        
    except Exception as e:
        print('Exception occured' , e)

In [ ]:
# enter age 120
a  = valid_age()
a

Exception occured Age should be between 0 to 110

In [ ]:
# Enter age 35
valid_age()

Age of User is --> 35

35

In [11]:
# Enter age -20
valid_age()

Exception occured Age should be between 0 to 110

## All blocks
- try - true
-  except -  when condition is not true
-  else - when try is true
- finally -  will always excutes

In [14]:
import math

In [15]:
num  = 34
math.sqrt(num)

5.830951894845301

In [16]:
num1 = -34
math.sqrt(num1)

ValueError: math domain error

In [17]:
num3 = '144'
math.sqrt(num3)

TypeError: must be real number, not str

### Find square root of number

In [18]:
def sqaure_root():
    try:
        num = float(input('please enter positive number'))
        s = math.sqrt(num)

    except Exception as e:
        print(f'Exception occured , {e}')

    else:
        print(f'square root of {num} is {s}')
        return s
    finally:
        print('Finally block will always excutes')

In [ ]:
# enter number 144
num1 = sqaure_root()
num1

square root of 144.0 is 12.0
Finally block will always excutes

12.0

In [ ]:
# enter number -144
num2 = sqaure_root()
num2

Exception occured , math domain error
Finally block will always excutes

In [24]:
# enter number 3
num3 = sqaure_root()
round(num3 , 4)

square root of 3.0 is 1.7320508075688772
Finally block will always excutes

1.7321

In [25]:
# enter blank
num3 = sqaure_root()

Exception occured , could not convert string to float: ''
Finally block will always excutes

In [29]:
def square_root():
     try:
         num = float(input('Pelease enter positive number'))
         s = math.sqrt(num)
     except Exception as e:
         print(f'Exception Occured , {e}')
     else:
         print(f'Square root of {num} is {s}')
         return s
     finally:
         print('Finally block will always execute')

In [30]:
num1 = square_root()
print(num1)

Exception Occured , math domain error
Finally block will always execute
None