### Exceptional Handling

In [1]:
23/34

0.6764705882352942

In [2]:
23/0

ZeroDivisionError: division by zero

In [3]:
/23

<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
C:\Users\C S\AppData\Local\Temp\ipykernel_14436\3824389642.py:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  23()

TypeError: 'int' object is not callable

In [4]:
'str'/34

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [5]:
s1  = '123'
int(s1)

123

In [6]:
s2 = 'abc'
int(s2)

ValueError: invalid literal for int() with base 10: 'abc'

### Define Function for Division of two numbers

In [ ]:
def Division():
    num = float(input())
    den = float(input())
    div  = num/ den
    print(f'division is between {num} and {den} --> {num}/{den}')
    return div

In [14]:
Division()

division is between 30.0 and 5.0 --> 30.0/5.0

6.0

In [16]:
Division()
print('Hello')

ZeroDivisionError: float division by zero

In [17]:
Division()

ValueError: could not convert string to float: ''

In [18]:
Division()

ValueError: could not convert string to float: "'12'"

### Use Try and Except

In [22]:
def Division2():
    try:
        num = float(input())
        den = float(input())
        div  = num/ den
        print(f'division is between {num} and {den} --> {num}/{den}')
        return div
    except Exception as e:
        print('Exception occured' ,e)

In [25]:
Division2()

division is between 12.0 and 4.0 --> 12.0/4.0

3.0

In [29]:
Division2()
print('Hello')
print(12+23)
print('Data')

Exception occured could not convert string to float: "'12'"
Hello
35
Data